:root {
  --bs-border-radius: 8px;
}

.navbar-btn {
  background-color: #65b968 !important;
  border: none !important;
  border-radius: 80px;
  padding: 0.4rem 1.5rem;
  font-weight: 500;
  color: white;
  transition: all 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 👈 sombra limpia y discreta */
}

.navbar-btn:hover {
  background-color: #4d944f !important;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
}
